
<div style="width: 100%; height: 100%">
  <div class="container g-0" style="justify-self: center; align-self: center">
    <div class="row flex-column g-0 card m-5" style="height:55rem; width:40rem;">
      <div class="col row flex-column g-0">
        <div class="col" style="font-family: 'DS-Digital', sans-serif;">
          <input class="form-control mt-5 text-end" style="margin:auto; max-width:80%; "  [value]="calculatorDisplay" readonly />
        </div>
        <div class="col row mt-2" style="margin:auto; max-width:80%;" >
          <div class="col">
            <button class="btn btn-primary w-100 " (click)="clickNumber('7')">7</button>
          </div>
          <div class="col" >
            <button class="btn btn-primary w-100 " (click)="clickNumber('8')">8</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100 " (click)="clickNumber('9')">9</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100"(click)="clickDivide()" >÷</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100"(click)="clickPower()" >x^y</button>
          </div>
        </div>
        <div class="col row mt-2" style="margin:auto; max-width:80%;" >
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNumber('4')">4</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNumber('5')">5</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNumber('6')">6</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickMultiply()" >X</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickSqrt()" >√</button>
          </div>
        </div>

        <div class="col row mt-2" style="margin:auto; max-width:80%;" >
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNumber('1')">1</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNumber('2')">2</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100"  (click)="clickNumber('3')">3</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickSubtract()">-</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickNegate()">(-)</button>
          </div>
        </div>

        <div class="col row mt-2 mb-5" style="margin:auto; max-width:80%;" >
          <div class="col">
            <button class="btn btn-primary w-100 " (click)="clickNumber('0')">0</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clearDisplay()"> AC </button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickEquals()">=</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickAdd()">+</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" (click)="clickLog()">ln</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
